<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="assets/img/logo.png"/>
    <h2>Welcome to your smart guide! <br></h2>
  </ion-slide>
  <ion-slide>
    <img src="assets/img/logo.png" class="smallLogo"/>
    <h2>Create an account or log in to start using the app.</h2>
  </ion-slide>
  <ion-slide>
    <img src="assets/img/logo.png" class="smallLogo"/>
    <h2>Seek out places to visit in your area or generate an entire tour based on your preferrences</h2>
  </ion-slide>
</ion-slides>