<ion-content>

  <div class="header">
    <ion-button ion-button item-end color="#03A9F4" (click)="presentPopover($event)">
      <ion-icon name="menu-outline"></ion-icon>    
    </ion-button>
    <!-- <ion-button color="#03A9F4" (click)="presentPopover()"></ion-button> -->
    <h2>{{firstName}} {{lastName}}</h2>
    <div class="space-between">
      <div class="followings">
        <ion-badge color="primary" mode="ios">{{toursCompleted}}</ion-badge>
        <p>&nbsp;&nbsp;Tours Done</p>
      </div>
      <div class="followings">
        <ion-badge color="primary" mode="ios">{{placesVisited}}</ion-badge>
        <p>Places Visited</p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="box-border">
      <div class="border-white">
        <div class="img-box">
          <img src={{image}}>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading">
    <br><br>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <ion-card *ngFor="let item of feed; let i = index;">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src={{image}} />
      </ion-avatar>
      <ion-label>
        <h2><b>{{item.place}}</b></h2>
        <p>{{item.date}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="tour">
      <ion-card-content> 
        {{desc[i]}}
      </ion-card-content>
    </ion-item>
    <img class="tour-img" src={{item.images[0]}} (click)="expand(item)">

  </ion-card>

  <div *ngIf="feed.length == 0">
    <ion-card>
        <ion-item lines="none" class="tour">
          <ion-label text-wrap><br><b>You have not completed any tours! To start a new one tap the 'Start Tour' tab and start configuring it.</b><br></ion-label>
        </ion-item>
    </ion-card>
  </div>

</ion-content>
