<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tour Configuration</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlert()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngFor="let item of tour; let i = index;" class="accordion-list" lines="none" detail="false" no-padding>
    <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}">
      <ion-icon slot="start" name="arrow-forward" *ngIf="!item.open"></ion-icon>
      <ion-icon slot="start" name="arrow-down" *ngIf="item.open"></ion-icon>
      <ion-label>
        {{ item.name }}
      </ion-label>
    </ion-item>
  

    <div *ngIf="item && item.open">
      <ion-list lines="none" class="child-list">
        <ion-item class="child-item" text-wrap detail="false" lines="none">
          <ion-row no-padding allign-items-center>
            <!-- <ion-col>
              <ion-row no-padding> -->
                <ion-col size="12">
                  <h3>{{ item.name }}</h3>
                </ion-col>
                <ion-col size="12">
                  <p text-lowercase color="medium">{{ item.address }}</p>
                </ion-col>
                <ion-col size="12">
                  <img src={{item.photo.images.medium.url}}>
                </ion-col>
                <ion-col size="12">
                  <ion-button fill="outline" (click)="selectItem(checkpoint)">Done</ion-button>
                </ion-col>
              </ion-row>
            <!-- </ion-col>
          </ion-row> -->
        </ion-item>
      </ion-list>
      
      <!-- <ion-list *ngFor="let child of tour; let j =index;" lines="none" class="child-list">
        <ion-item tappable (click)="toggleItem(i, j)" *ngIf="child" [ngClass]="{'child-active': child.open, 'child': !child.open}">
          <ion-icon slot="start" name="add" *ngIf="!child.open"></ion-icon>
          <ion-icon slot="start" name="close" *ngIf="child.open"></ion-icon>
          <ion-label>
            {{ child.name }}
          </ion-label>
        </ion-item>

        <app-checkpoint [checkpoint]="child" *ngIf="!child"></app-checkpoint> -->
      
        <!-- <ion-list *ngIf="item && item.open" class="product-list" lines="none">
          <ion-label>
            {{ item.photo.images.medium.url }}
          </ion-label>
          <app-checkpoint [checkpoint]="product" *ngFor="let product of item"></app-checkpoint>
        </ion-list> -->
        
      <!-- </ion-list> -->
    </div>

    <!-- <div *ngIf="item.children && item.open">
      <ion-list *ngFor="let child of item.children; let j =index;" lines="none" class="child-list">
        <ion-item tappable (click)="toggleItem(i, j)" *ngIf="child.children" [ngClass]="{'child-active': child.open, 'child': !child.open}">
          <ion-icon slot="start" name="add" *ngIf="!child.open"></ion-icon>
          <ion-icon slot="start" name="close" *ngIf="child.open"></ion-icon>
          <ion-label>
            {{ child.name }}
          </ion-label>
        </ion-item>

        <app-checkpoint [checkpoint]="child" *ngIf="!child.children"></app-checkpoint>
      
        <ion-list *ngIf="child.children && child.open" class="product-list" lines="none">
          <app-checkpoint [checkpoint]="product" *ngFor="let product of child.children"></app-checkpoint>
        </ion-list>
        
      </ion-list>
    </div> -->
  </ion-list>
  <ion-button expand="block" share="round" color="primary" (click)="configureTour()">Save</ion-button>
</ion-content>


