<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon name="images-sharp"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="start">
      <ion-icon name="arrow-up-circle-sharp"></ion-icon>
      <ion-label>Start Tour</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
